*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}
body{
    background-color: #1e1e1e;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 8px;
    background-color: none;
}
:hover::-webkit-scrollbar {
    background-color: transparent;
}
:hover::-webkit-scrollbar-thumb {
    background-color: rgb(79,79,79);
}
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {  
    border-radius: 8px;
  }

.container-header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    
}
.container-header #icon-bar{
    font-size: 25px;
    color: white;
} 
.container-header .logo-youtube{
    display: flex;
    align-items: center;
   
}
.image-youtube img{
    height: 70px;
    width: 110px;
    margin-top: 5px;
}
.image-youtube{
    position: relative;
    top: 0;
    left: 0;
}
.text-youtube a{
    text-decoration: none;
    position: absolute;
    left: 131px;
    top: 21px;
}
.text-youtube a h1{
    font-size: 28px;
    color: white;
    
}
.text-youtube a h1 sup{
    font-size: 13px;
}


    /* search-form */

.search-form{
    display: flex;
}
.form-search{
    border: 1px solid gray;
    margin-right: 10px;
}
.form-search input{
    width: 500px;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 15px ;
    background-color: #1e1e1e;
    color: white;
}
.form-search input::placeholder{
    font-size: 15px;
}
.form-search button{
    width: 60px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(55, 55, 55);
}
#microphone-icons{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    border-radius: 50%;
    color: white;
    background-color: black;
    cursor: pointer;
    
}

    /* Header-icons */

.icons{
    display: flex;
    align-items: center;
}
#Notification-icons{
    font-size:  25px;
    color: white;
    margin-right: 25px;
    cursor: pointer;
}
#user-icons{
    font-size: 25px;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 35px;  
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(180, 180, 180);
}
.icons #upload-icon{
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.content-body{
    display: flex;
}
/* Start navbar */

.Navbar-container{
    width: 240px;
    height: 100vh;
    position: fixed;     
    left: 0;
    top: 9.5%;
    overflow-y: scroll;
    background-color: #1e1e1e;
    float: left;
  
}
.first-content ul{
    width: 100%;
    border-bottom: 1px solid gray;
}

.first-content ul li{
    list-style: none;
}
.first-content ul li a{
    display: block;
    text-align: left;
    margin-left: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 15px;
   
}
.first-content ul li a:hover{
    background-color: rgba(190, 190, 190, 0.2);
}
.first-content ul li a img{
    height: 20px;
    color: white;
    margin-right: 20px;
}

/* subcription */
.subcription-container{
    border-bottom: 1px solid gray;
}
.subcription-container h1{
    font-size: 17px;
    color: gray;
    padding: 10px;
    text-transform: uppercase;

}
.subcription{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
   

}
.subcription .user-acc img{
    width: 30px;
    border-radius: 50%;
    margin: 10px 15px 0 15px;
}
.subcription  .name-acc p{
    font-size: 15px;
    color: white;

}
.subcription:hover{
    background-color:gray;
}
.first-content h1{
    font-size: 18px;
    color: gray;
    padding: 10px;
}
.para p{
    font-size: 15px;
    color: gray;
    text-align: center;
    line-height: 25px;
}

.empty-class{
    height: 20vh;
}
/* Ends navbar */

/* start main-container */

.main-container{
    position: relative;
    float: right;
    top: 10%;
    height: auto;
    margin-top: 5%;
    width:84.5%;
  
}
.top-header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
   
}

.top-header p{
    padding: 8px 12px;
    color: white;
    font-size: 15px;
    border: 2px solid rgb(203, 203, 203);
    border-radius: 50px 50px ;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.top-header p:hover{
    background-color: gray;
}
#active{
    color: black;
    background-color: rgb(255, 255, 255);
   
}
#home{
    background-color: rgba(190, 190, 190, 0.2);
}
.card-container{
    padding: 25px;
    display: flex;
    gap: 30px; 
}
.card-content:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}
.card-bolck2, .card-bolck3{
    padding: 25px;
    display: flex;
    gap: 30px; 
}
.card-content{
    width: 23%;
    height: 270px;
    cursor: pointer;
    position: relative;
}
.card-content .image{
    width: 100%;
    height: 170px;
    background-color: antiquewhite;
}
.card-content .charect{
    padding-top: 15px;
    background-color: transparent;
}
.card-content .charect a{
    text-decoration: none;
}
.card-content .charect a h1{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.card-content .charect a p{
    font-size: 12px;
    color: gray;
    padding-top: 10px;
}

/* ends main-container */